[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
black = "==19.10b0"
jedi = "*"
safety = "*"

[packages]
django = "==2.2.*"
psycopg2 = "*"
honcho = "*"
gunicorn = "*"
dj-database-url = "*"
requests = "*"
click = "*"
python-dotenv = "*"
jsonschema = "*"
python-chess = "*"
authlib = "*"
rq = "*"
tqdm = "*"
graphene-django = "*"
django-filter = "*"
graphene-django-extras = "*"
redis = "*"

[requires]
python_version = "3.8"
