[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.3"
psycopg2 = "*"
honcho = "*"
gunicorn = "*"
dj-database-url = "*"
requests = "*"
click = "*"
python-dotenv = "*"
jsonschema = "*"
python-chess = "*"
authlib = "*"
rq = "*"
crayons = "*"
tqdm = "*"

[requires]
python_version = "3.7"
